PORT=4000

AUTH_SERVICE_URL=http://localhost:4001
ADMIN_SERVICE_URL=http://localhost:4002
VIDEO_SERVICE_URL=http://localhost:4003
CATEGORY_SERVICE_URL=http://localhost:4004
LEADERBOARD_SERVICE_URL=http://localhost:4005
NOTIFICATION_SERVICE_URL=http://localhost:4006
PLAYER_AD_SERVICE_URL=http://localhost:4007
COPYRIGHT_SERVICE_URL=http://localhost:4008
SECURITY_SERVICE_URL=http://localhost:4009
